* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  border: 1px solid;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  flex: 1;
}
aside {
  display: flex;
  flex: 2;
}
main {
  display: flex;
  flex: 15;
  flex-direction: row;
}
footer {
  display: flex;
  flex: 8;
}
.main_nav {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main_products {
  display: flex;
  flex: 10;
}
