* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(216, 211, 211);
}
header {
  display: flex;
  flex: 1;
}
aside {
  display: flex;
  flex: 2;
}
main {
  display: flex;
  flex: 15;
  flex-direction: row;
  gap: 1rem;
}
footer {
  display: flex;
  flex: 8;
}
.main_nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  margin-left: 1rem;
}
.left_bar_nav {
  display: flex;
  justify-content: column;
  justify-content: center;
  background-color: rgb(77, 77, 241);
  padding: 0.5rem;
  height: 3.15rem;
}
.left_bar_nav a {
  color: white;
}
.main_products {
  display: flex;
  flex: 10;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
}
img {
  max-width: 100%;
}
.individual_products {
  display: flex;
  flex-direction: column;
  height: 2rem;
  flex: 1;
}
.individual_product_header {
  flex: 2;
  background-color: rgb(77, 77, 241);
  color: white;
}
.individual_product_image {
  flex: 3;
}
.individual_product_content {
  flex: 10;
}
.individual_product_price {
  flex: 3;
  background-color: rgb(77, 77, 241);
  color: white;
}
.top_header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 77, 241);
}
.left_menu_header {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
.right_menu_header {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
.individual_menu_items_header a {
  color: white;
}
.search-container {
  display: flex;
  margin: 0.5rem;
  border: none;
  flex: 20;
}
input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid;
  border-color: rgb(77, 77, 241);
  width: 70rem;
}
button {
  padding: 0.5rem;
  background-color: rgb(77, 77, 241);
  color: white;
  border: none;
}
.company_logo {
  display: flex;
  justify-content: center;
  flex: 5;
  font-size: 3rem;
}
.qwirty_search_financing {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.financing {
  flex: 2.5;
  color: white;
  background-color: red;
  border: red;
  margin: 2rem;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 1.1rem;
}
footer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: rgb(77, 77, 241);
}
.footer_header {
  display: flex;
  align-items: flex-start;
  border: none;
  border-bottom: solid;
  color: white;
}
.footer_section {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: solid;
  border-color: black;
  gap: 0.5rem;
}
.individual_menu_items_footer a {
  color: white;
  border: none;
}
.individual_menu_items_footer {
  border: none;
}
